</main>
<footer class="footer mt-auto py-5 bg-dark" style="color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>ArchiTech</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
            </div>
            <div class="col-md-4">
                <h5>Sections</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="text-decoration: none; color: inherit;">Section 1</a></li>
                    <li><a href="#" style="text-decoration: none; color: inherit;">Section 2</a></li>
                    <li><a href="#" style="text-decoration: none; color: inherit;">Section 3</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contactez-nous</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="text-decoration: none; color: inherit;">Facebook</a></li>
                    <li><a href="#" style="text-decoration: none; color: inherit;">Twitter</a></li>
                    <li><a href="#" style="text-decoration: none; color: inherit;">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>