<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArchiTech</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    <script src="https://kit.fontawesome.com/a3d328dfc5.js" crossorigin="anonymous"></script>
    <script src="../js/alert.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
        <a class="navbar-brand" href="index.html">ArchiTech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active" id="filesLink">
                    <a class="nav-link" href="/files">Vos fichiers <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" id="uploadLink">
                    <a class="nav-link" href="/files/add">Uploader des fichiers</a>
                </li>
                <li class="nav-item" id="loginLink">
                    <a class="nav-link" href="/user/login">Se connecter</a>
                </li>
                <li class="nav-item" id="registerLink">
                    <a class="nav-link" href="/user/register">S'inscrire</a>
                </li>
                <li class="dropdown" id="profilLink">
                    <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Profil
                    </a>
                  
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" id="logoutLink" href="#">Se déconnecter</a></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <form action="/user/delete" id="deleteAccount" method="POST">
                                    <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
                                </form>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="alerts"></div>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Récupérer le token d'authentification du stockage local
        const authToken = localStorage.getItem("token");

        // Sélectionner les éléments de navigation que vous souhaitez masquer ou afficher
        const loginLink = document.getElementById("loginLink");
        const registerLink = document.getElementById("registerLink");
        const filesLink = document.getElementById("filesLink");
        const uploadLink = document.getElementById("uploadLink");
        const profilLink = document.getElementById("profilLink");
        const logoutLink = document.getElementById("logoutLink");

        if (authToken) {
            // Si un jeton est présent, envoyez une requête au serveur pour vérifier sa validité
            fetch('/middleware/validateToken', {
                method: 'POST',
                headers: {
                    'Authorization': authToken
                }
            })
            .then(response => {
                if (response.ok) {
                    // Si le token est valide, masquez les liens de connexion
                    loginLink.style.display = "none";
                    registerLink.style.display = "none";

                    filesLink.style.display = "block";
                    uploadLink.style.display = "block";
                    profilLink.style.display = "block";
                } else {
                    // Si le token est invalide, supprimez-le du stockage local
                    localStorage.removeItem("authToken");
                    // Affichez les liens de connexion
                    filesLink.style.display = "none";
                    uploadLink.style.display = "none";
                profilLink.style.display = "none";
                    
                    loginLink.style.display = "block";
                    registerLink.style.display = "block";
                }
            })
            .catch(error => {
                console.error('Erreur lors de la validation du token :', error);
            });
        } else {
            // Si aucun token n'est présent, affichez les liens de connexion
            filesLink.style.display = "none";
            uploadLink.style.display = "none";
            profilLink.style.display = "none";

            loginLink.style.display = "block";
            registerLink.style.display = "block";
        }
        // Ajouter un gestionnaire d'événements au lien de déconnexion
        logoutLink.addEventListener("click", function(event) {
            // Empêcher le comportement par défaut du lien
            event.preventDefault();
            // Supprimer le token d'authentification du stockage local
            localStorage.removeItem("token");
            // Rediriger l'utilisateur vers la page de connexion
            window.location.href = "/user/login";
        });
    });
    </script>
