<%- include('partials/header') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card shadow">
                    <div class="card-header bg-primary">
                        <h3 class="text-light">Add New File</h3>
                    </div>
                    <div class="card-body p-4">
                        <form action="/files/add" method="post" id="add-form" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="file" class="form-label">Sélectionner une image</label>
                                <input type="file" class="form-control form-control-lg" name="file">
                            </div>
                            <div class="mb-3 d-grid">
                                <input type="submit" name="submit" value="Add File" class="btn btn-primary btn-lg">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const form = document.getElementById('add-form');

form.addEventListener('submit', async (event) => {
    event.preventDefault();

    // Récupérer le token d'authentification du localStorage ou des cookies
    const token = localStorage.getItem('token'); // ou depuis les cookies

    // Créer un objet FormData pour envoyer les données du formulaire
    const formData = new FormData();
    formData.append('file', form.file.files[0]); // Ajouter le fichier sélectionné au FormData

    // Configurer l'en-tête de la requête avec le token d'authentification
    const headers = {
        Authorization: `${token}`,
    };

    try {
        // Effectuer une requête POST vers le serveur avec le FormData et les en-têtes configurés
        const response = await fetch('/files/add', {
            method: 'POST',
            body: formData,
            headers: headers,
        });

        console.log(response);
        // Vérifier si la requête a réussi
        if (response.ok) {
            // Si la réponse est réussie, rediriger l'utilisateur vers une page de succès ou effectuer toute autre action appropriée
            window.location.href = '/files'; // Redirection vers une page de succès
        } else {
            // Si la requête a échoué, afficher un message d'erreur ou effectuer toute autre action appropriée
            console.error('Error adding file:', response.statusText);
            // Afficher un message d'erreur à l'utilisateur
        }
    } catch (error) {
        console.error('Error adding file ici :', error);
        // Afficher un message d'erreur à l'utilisateur
    }
});
    </script>

    
<%- include('partials/footer') %>
