<%- include('partials/header') %>
    <h2>Registration</h2>

    <form id="registerForm">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Register">
    </form>

    <script>
        document.getElementById('registerForm').addEventListener('submit', async function (event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            try {
                const registerResponse = await fetch('http://localhost:3000/user/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email, password }),
                });

                const registerData = await registerResponse.json();

                if (registerData.token) {
                    try {
                        const loginResponse = await fetch('http://localhost:3000/user/login', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ email, password }),
                        });

                        const loginData = await loginResponse.json();

                        if (loginData.token) {
                            localStorage.setItem('token', loginData.token);
                            window.location.href = '/user/login';
                        }
                        createAlert(loginData);
                    } catch (error) {
                        catchAlert();
                    }
                } else {
                    createAlert(registerData);
                }
            } catch (error) {
                catchAlert();
            }
        });
    </script>
<%- include('partials/footer') %>