<%- include('partials/header') %>
<h2>Fichiers Télécharger sur votre compte</h2>
<ul id="fileList"></ul>
<%- include('partials/footer') %>

<script>
    document.addEventListener('DOMContentLoaded', async function() {
        // Récupérer le token d'authentification depuis le localStorage
        const token = localStorage.getItem('token');

        // Vérifier si le token existe
        if (!token) {
            console.log('User not authenticated.');
            createAlert({ message: 'Veuillez vous connecter pour accéder à cette page.', success: false });
            // Rediriger l'utilisateur vers la page de connexion ou afficher un message d'erreur
            return;
        }

        try {
            // Appeler votre route pour récupérer tous les fichiers de l'utilisateur
            const response = await fetch('/files/view', {
                method: 'post',
                headers: {
                    'Authorization': `${token}` // Inclure le token d'authentification dans les en-têtes
                }
            });

            if (response.ok) {
                // Récupérer la réponse au format JSON
                const jsonResponse = await response.json();

                // Extraire les fichiers de la réponse JSON
                const userFiles = jsonResponse.userFiles;

                // Afficher les fichiers dans la liste
                const fileList = document.getElementById('fileList');
                userFiles.forEach(function(file) {
                    const listItem = document.createElement('li');
                    listItem.textContent = file.filename;
                    fileList.appendChild(listItem);
                });
            } else {
                console.error('Error retrieving files:', response.statusText);
                createAlert(response);
                // Afficher un message d'erreur à l'utilisateur
            }
        } catch (error) {
            console.error('Error retrieving files:', error);
            catchAlert();
            // Afficher un message d'erreur à l'utilisateur
        }
    });
</script>
