.file-list-container .file-list {
    display: flex;
    flex-wrap: wrap;
}


.file-list-container .container-files {
    margin: 0 80px;
}

.file-list-container .file-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.file-list-container .file-item:hover {
    transform: scale(1.05);
}

.file-list-container .file-item img {
    border-radius: 5px;
}

.file-list-container .file-item p {
    margin: 10px 0;
    font-weight: bold;
}

.file-list-container .file-item button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.file-list-container .file-item .file-list-download-button {
    background-color: #4CAF50;
}

.file-list-container .file-item .file-list-download-button:hover {  
    background-color: #45a049;
}

.file-list-container .file-item .file-list-delete-button {
    background-color: red;
}
.file-list-container .file-item .file-list-delete-button:hover {
    background-color: rgb(179, 0, 0);
}

.file-list-container h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.file-list-container .top-upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.file-list-container .upload-section {
    margin: 40px 0;
}

.file-list-container input[type=file] {
    color: #222245;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #222245;
  }

.file-list-container input[type=file]::file-selector-button {
    margin-right: 8px;
    border: none;
    background-color: #e2b159;
    border-radius: 5px;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
}

.file-list-container .drop-container {
position: relative;
display: flex;
gap: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
height: 200px;
padding: 20px;
border-radius: 10px;
border: 2px dashed #555;
color: #444;
cursor: pointer;
transition: background .2s ease-in-out, border .2s ease-in-out;
}

.file-list-container .drop-container:hover {
background: #eee;
border-color: #111;
}

.file-list-container .upload-button {
    background-color: #e2b159;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-list-container .upload-button:hover {
    background-color: #cf9324;
}

.file-list-container .upload-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Barre de recherche */
.file-list-container .search-container {
    display: flex;
    align-items: center;
}

.file-list-container .search-container input[type="text"] {
    flex: 1; 
    padding: 10px;
    border: 2px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    transition: border-color 0.3s; 
}

.file-list-container .search-container input[type="text"]:focus {
    border-color: #e2b159; 
    outline: none;
}

.file-list-container .search-container select {
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    margin-left: 10px; 
    font-size: 16px; 
    background-color: white; 
    transition: border-color 0.3s; 
}

.file-list-container .search-container select:focus {
    border-color: #e2b159; 
    outline: none; 
}

.file-list-container .upload-button {
    background-color: #e2b159; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.file-list-container .upload-button:hover {
    background-color: #cf9324;
}

@media (max-width: 768px) {
    .file-list-container .container-files {
        margin: 0 40px;
    }
    .file-list-container .file-list {
        justify-content: center;
    }
    .file-list-container .top-upload-section {
        flex-direction: column;
    }
    .file-list-container .search-container {
        flex-direction: column;
        gap: 10px;
    }

    .file-list-container .file-list-container {
        margin-top: 100px;
    }
}